GAIA_IMAGE={{ gaia_image }}
GAIA_PORT={{ gaia_port }}
GAIA_METRICS_PORT={{ gaia_metrics_port }}
GAIA_WEB_NETWORK={{ gaia_web_network }}
GAIA_DB_PASSWORD={{ gaia_db_password }}
GAIA_JWT_SECRET={{ gaia_jwt_secret }}
DATABASE_URL=postgresql://gaia:{{ gaia_db_password }}@gaia-db:5432/gaia-production
